---
import Link from "../../components/ui/Link.astro";
---

<section class="w-full h-[calc(100vh-80px)] flex flex-col justify-center">
  <div class="container mx-auto flex items-center justify-between">
    <div class="basis-1/2 flex flex-col gap-y-4 -mt-32">
      <h1 class="mb-6">Lorem ipsum dolor sit.</h1>
      <p class="max-w-[480px]">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum tempora
        vel, amet ducimus non facere ipsa.
      </p>
      <p class="max-w-[480px]">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ullam
        debitis beatae asperiores.
      </p>

      <div class="mt-12 flex items-center gap-x-8">
        <Link
          title="Mehr erfahren"
          path="/leistungen"
          style="px-8 py-2 text-primary bg-accent ring-1 ring-black/30 rounded-2xl hover:bg-secondary "
        />

        <Link
          title="Kontakt"
          path="/kontakt"
          style="px-8 py-2 text-secondary bg-primary  ring-1 ring-black/30 rounded-2xl hover:bg-secondary hover:text-primary"
        />
      </div>
    </div>
    <div class="basis-1/2">
      <img
        class="w-full h-[800px] object-cover"
        src="/images/Image.webp"
        alt="garden"
      />
    </div>
  </div>
</section>
<style></style>
