---
import Link from "../ui/Link.astro";
---

<section class="w-full h-full mt-28">
  <div class="container mx-auto grid grid-cols-[25%,1fr]">
    <div>About</div>
    <div class="flex gap-x-8">
      <div class="flex-1"><h2>Lorem ipsum dolor sit.</h2></div>

      <div class="flex-1 flex flex-col gap-y-3">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae
          incidunt praesentium corrupti magni id ducimus ullam quia, voluptates
          eaque dolor sint iusto perferendis. Quibusdam, consequuntur!
        </p>
        <p class="text-divider">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
          voluptates dicta id pariatur ex laudantium quas in, fugiat ratione,
          cumque, voluptate rerum eveniet iusto natus provident animi expedita
          officia nostrum.
        </p>

        <div>
          <Link
            title="Leistungen"
            path="/leistungen"
            style="underline underline-offset-[6px] decoration-accent"
          />
        </div>
      </div>
    </div>
  </div>
</section>
