---

---

<section class="w-full h-full mt-28 mb-16">
  <div class="container mx-auto grid grid-cols-[25%,1fr]">
    <div>Vitrine</div>
    <div class="w-full flex gap-x-8">
      <div class="flex-1"><img src="/images/Image.webp" alt="garden" /></div>

      <div class="flex-1"><img src="/images/Image.webp" alt="garden" /></div>
    </div>
  </div>
</section>
