---
import { Icon } from "astro-icon/components";
---

<section class="w-full h-full mt-28">
  <div class="container mx-auto grid grid-cols-[25%,1fr]">
    <div>Services</div>
    <div class="w-full flex gap-x-8">
      <div class="flex-1">
        <h3>Strategy</h3>
        <p class="text-divider mt-4 max-w-[480px]">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
          voluptates dicta id pariatur ex laudantium quas in.
        </p>

        <div class="mt-12">
          <h4>Strategy Services</h4>

          <ul class="mt-8 flex flex-col gap-y-2">
            <li class="flex items-center space-x-3">
              <Icon name="check" width={16} /><span
                >Market Analysis and Insights</span
              >
            </li>
            <li class="flex items-center space-x-4">
              <Icon name="check" width={16} /><span
                >Goal Setting and Roadmapping</span
              >
            </li>
            <li class="flex items-center space-x-4">
              <Icon name="check" width={16} /><span>Innovation Integration</span
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="flex-1">
        <h3>Monitoring</h3>
        <p class="text-divider mt-4 max-w-[480px]">
          We provide the tools and insights needed to monitor and enhance every
          facet of your business operations.
        </p>

        <div class="mt-12">
          <h4>MONITORING SERVICES</h4>

          <ul class="mt-8 flex flex-col gap-y-2">
            <li class="flex items-center space-x-3">
              <Icon name="check" width={16} /><span
                >Market Analysis and Insights</span
              >
            </li>
            <li class="flex items-center space-x-4">
              <Icon name="check" width={16} /><span
                >Goal Setting and Roadmapping</span
              >
            </li>
            <li class="flex items-center space-x-4">
              <Icon name="check" width={16} /><span>Innovation Integration</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
