---
import Layout from "../layouts/Layout.astro";
import SwiperSlider from "../components/SwiperSlider.astro";
---

<Layout title="referenzen">
  <h2 class="text-center mb-16 mt-8">Referenzen</h2>
  <SwiperSlider />
</Layout>
