---
import Layout from "../layouts/Layout.astro";

import Section1 from "../components/Unternehmen/Section1.astro";
import Section2 from "../components/Unternehmen/Section2.astro";
---

<Layout title="Unternehmen">
  <main>
    <Section1 />
    <Section2 />
  </main>
</Layout>
