---
import { Icon } from "astro-icon/components";
import Line from "./ui/Line.astro";
---

<footer class="relative">
  <Line style="w-full h-[1px] bg-secondary/30 inline-block absolute top-0" />
  <div class="container mx-auto flex justify-between items-center py-8">
    <Icon name="cookie" height={60} width={60} />
    <p class="text-center">Copy right 2024</p>
  </div>
</footer>
