---
import { NavLinks } from "../constants/index";
import Logo from "./ui/Logo.astro";
import Link from "./ui/Link.astro";
import Line from "./ui/Line.astro";

const pathname = new URL(Astro.request.url).pathname;
console.log(pathname);
---

<header class="relative w-full h-20">
  <nav class="container mx-auto h-full flex items-center justify-between">
    <a href="/"><Logo /></a>

    <ul class="flex gap-x-16">
      {
        NavLinks.map(({ path, title }) => (
          <li class="relative group">
            <a href={path}>{title}</a>
            {pathname === path ? (
              <span class="inline-block w-full h-[1px] bg-secondary absolute left-0 -bottom-1" />
            ) : (
              <span
                class="inline-block w-0 h-[1px] bg-secondary absolute left-0 -bottom-1
               group-hover:w-full transition-[width] duration-300 ease-in-out"
              />
            )}
          </li>
        ))
      }
    </ul>

    <Link
      title="Kontakt"
      path="/kontakt"
      style="px-8 py-2 text-primary  bg-accent bg-col_accent ring-1 ring-black/30 rounded-2xl hover:bg-secondary"
    />
  </nav>
  <Line style="w-full h-[1px] bg-secondary/30 inline-block absolute bottom-0" />
</header>
