---

---

<section class="w-full relative">
  <img
    class="w-full max-h-[800px] object-cover"
    src="/images/Image.webp"
    alt="image"
  />
  <div
    class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 container mx-auto
    flex flex-col items-center z-[1]"
  >
    <h4 class="mb-8">Leistungen</h4>
    <div class="max-w-[460px]">
      <h1 class="mb-4 text-center">Eine Reise von Leidenschaft und Hingabe</h1>
      <p class="text-center">
        Eine Reise, die von Leidenschaft und Hingabe angetrieben wird und
        bedeutungsvolle Erfahrungen und Erfolg schafft.
      </p>
    </div>
  </div>
</section>
