---

---

<section class="w-full h-full mt-28 mb-28">
  <div class="container mx-auto grid grid-cols-[25%,1fr]">
    <div>Unser Team</div>
    <div class="w-full flex justify-between gap-x-8">
      <figure>
        <img
          class="h-[420px] object-cover"
          src="/images/defaultUser.jpg"
          alt="picture"
        />
        <figcaption class="mt-4 space-y-3">
          <p class="text-sm">PROJEKTKOORDINATOR</p>
          <p class="text-lg">Max Musterman</p>
          <p class="text-base">
            Proaktiver Organisator und Kommunikator, der den Projekterfolg durch
            sorgfältige Planung und nahtlose Koordination vorantreibt.
          </p>
        </figcaption>
      </figure>
      <figure>
        <img
          class="h-[420px] object-cover"
          src="/images/defaultUser.jpg"
          alt="picture"
        />
        <figcaption class="mt-4 space-y-3">
          <p class="text-sm">PROJEKTKOORDINATOR</p>
          <p class="text-lg">Max Musterman</p>
          <p class="text-base">
            Proaktiver Organisator und Kommunikator, der den Projekterfolg durch
            sorgfältige Planung und nahtlose Koordination vorantreibt.
          </p>
        </figcaption>
      </figure>
      <figure>
        <img
          class="h-[420px] object-cover"
          src="/images/defaultUser.jpg"
          alt="picture"
        />
        <figcaption class="mt-4 space-y-3">
          <p class="text-sm">PROJEKTKOORDINATOR</p>
          <p class="text-lg">Max Musterman</p>
          <p class="text-base">
            Proaktiver Organisator und Kommunikator, der den Projekterfolg durch
            sorgfältige Planung und nahtlose Koordination vorantreibt.
          </p>
        </figcaption>
      </figure>
    </div>
  </div>
</section>
