<section class="w-full h-full mt-28">
  <div class="container mx-auto grid grid-cols-[25%,1fr]">
    <div>Unternehmen</div>
    <div class="flex gap-x-8">
      <div class="flex-1">
        <h2>Unsere Geschichte,<br /> unsere Reise</h2>
      </div>

      <div class="flex-1 flex flex-col gap-y-3">
        <p>
          Im Wandteppich unserer organisatorischen Erzählung webt jeder Faden
          eine Geschichte von Leidenschaft, Hingabe und Zielstrebigkeit. Unsere
          Reise ist ein Beweis für Widerstandsfähigkeit, Wachstum und das
          Streben nach Exzellenz. Von bescheidenen Anfängen bis hin zu
          wirkungsvollen Meilensteinen spiegelt jedes Kapitel unser Engagement
          für Innovation und unerschütterliche Integrität wider.
        </p>
        <p class="text-divider">
          Wir sind mehr als ein Unternehmen; Wir sind eine Gemeinschaft, ein
          Kollektiv von Individuen, die von einer gemeinsamen Vision angetrieben
          werden. Erkunden Sie die Seiten unserer Geschichte, in der jeder
          Triumph, jede Herausforderung und jede Entscheidung die einzigartige
          Identität geformt hat, die uns ausmacht. Willkommen im Herzen unserer
          Erzählung – willkommen in unserer Geschichte.
        </p>
      </div>
    </div>
  </div>
</section>
